body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.qualities li {
    display: block;
    list-style: none;
    color: rgb(88, 42, 114);
    line-height: 30px;
}

.me {
    width: 300px;
}