.artwork {
    display: flex;
    flex-direction: column;
}

.illustrations {
    border-top: 2rem solid;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 800px;
    min-height: 50px;
    background-color: white;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
}

img {
    margin: 2px;
}