body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 2rem solid;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 800px;
    background-color: white;
}

h2 {
    text-align: center;
}